* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root {
    --primary-color: #21C37E;
    --green-shadow: 0px 3px 10px rgba(58, 212, 185, 0.4);
    --grey-shadow: 0px 3px 15px rgba(223, 223, 223, 0.5);
    --primary-title-color: #403D56;
    --primary-text-color: #636363;
    --background-gray: #fafafa;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3.75rem;
}

.text--green {
    color: var(--primary-color)
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 2;
    top:0;
    padding: 1.25rem 7rem;
    width: 100%;
    background-color: white;
    box-shadow: var(--grey-shadow);
}

.navbar__links-group{
    display: flex;
    justify-content: center;
    list-style-type: none;
    height: 100%;
}

.navbar__link {
    margin: 0 1rem;
    font-size: 14px;
}

.navbar__link > a {
    color: var(--primary-text-color);
    text-decoration: none;
}

.navbar__link .contact-link {
    color: var(--primary-color)
}

.navbar__logo {
    display: block;
    font-size: 24px;
}

.navbar__burger {
    display: none;
    position: fixed;
    top:0;
    width: 100%;
    background-color: white;
    box-shadow: var(--grey-shadow);
}

.navbar__burger-icon {
    display: block;
    font-size: 1.5rem;
}

.navbar__burger-layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    width: 100%;
}

.navbar__burger-menu {
    display: none;
    height: 90vh;
    width: 100%;
    padding: 1.5rem;
    font-size: 14px;
    background-color: var(--background-gray);
}

.navbar__burger-menu ul {
 list-style-type: none;
}

.navbar__burger-menu li {
    margin-bottom: 1.5rem;
}

.navbar__burger-menu li a {
    color: var(--primary-text-color);
    text-decoration: none;
}

.navbar__burger-menu .contact-link {
    margin-bottom: 1.5rem;
}

.navbar__burger-menu li .contact-link {
    color: var(--primary-color)
}

.navbar__burger-logo {
    display: block;
    font-size: 24px;
}

.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem 0 8rem 7rem;
}

.hero__title {
    margin-bottom: 2rem;
    max-width: 35rem;
    font-size: 46px;
    font-weight: bold;
    line-height: 60px;
    color: var(--primary-title-color)
}

.hero__text {
    margin-bottom: 4rem;
    max-width: 26rem;
    line-height: 34px;
    color:  var(--primary-text-color);
}

.hero__img {
    width: 50%;
    max-width: 41rem;
}

.hero__cta {
    width: 12rem;
    height: 2.75rem;
    border: 0;
    border-radius: 20px;
    color: white;
    background-color: var(--primary-color);
    box-shadow: var(--green-shadow);
    transition: 0.3s;
}

.hero__cta:hover{
    cursor: pointer;
    opacity: 0.7;
}

.steps-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 7rem 9rem;
    background-color: white;
}

.steps__layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.steps__title {
    margin-bottom: 7rem;
    font-size: 28px;
    font-weight: 600;
    color: var(--primary-title-color)
}

.steps__step img {
    height: 11rem;
    opacity: 0;
    transform: translateY(-5rem);
}

.steps__step:nth-child(1) img {
    transition: opacity .5s ease-in , transform .6s ease-out;
}
.steps__step:nth-child(2) img{
    transition: opacity .5s ease-in .3s, transform .6s ease-out .3s;
}

.steps__step:nth-child(3) img{
    transition: opacity .5s ease-in .5s, transform .6s ease-out .5s;
}


.steps__step span {
    display: block;
    margin: 3rem 0 0.6rem;
    font-size: 18px;
    font-weight: 600;
    color: var(--primary-color)
}

.steps__step p {
    max-width: 18rem;
    line-height: 30px;
    color:  var(--primary-text-color);
}

.features-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 7rem 7rem;
    background-color: var(--background-gray);
}

.features__title{
    margin-bottom: 4rem;
    font-size: 28px;
    font-weight: 600;
    color: var(--primary-title-color);
}

.features__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    justify-items: center;
    width: 100%;
}

.features__card {
    width: 100%;
    padding: 2rem;
    font-size: 14px;
    background-color: white;
    border-radius: 8px;
    box-shadow: var(--grey-shadow);
    transition: transform .2s ease-in;
}

.features__card:hover {
    transform: scale(1.05);
}

.features__img {
    margin-bottom: 0.7rem;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.5rem;
    text-align: center;
    vertical-align: middle;
    line-height: 2.85rem;
    color: white;
    background-color: var(--primary-color);
    border-radius: 100%;
}

.features__card > span {
    display: block;
    font-weight: 600;
}

.features__card > p {
    margin: 0.7rem 0;
    line-height: 26px;
    color: var(--primary-text-color)
}

.features__card > a {
    text-decoration: none;
    color: var(--primary-color);
    transition: 0.3s;
}

.features__card > a:hover {
    opacity: 0.6;
}

.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7rem;
}

.about__title {
    max-width: 20rem;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    text-align: center;
    color: var(--primary-title-color);
}

.about__layout {
    display: flex;
    align-items: center;
}

.about__img {
    width: 45%;
}

.about__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 9rem;
}

.about__text {
    margin: 1.5rem 0 3rem; 
    max-width: 25rem;
    text-align: center;
    line-height: 30px;
    color: var(--primary-text-color)
}

.about__cta {
    width: 12rem;
    height: 2.75rem;
    border: 0;
    border-radius: 20px;
    color: white;
    background-color: var(--primary-color);
    box-shadow: var(--green-shadow);
    transition: 0.3s;
}

.about__cta:hover{
    cursor: pointer;
    opacity: 0.7;
}

.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 7rem;
    background: linear-gradient(to bottom, #fafafa, #eef2f3);
}

.contact__title {
    margin-bottom: 3rem;
    font-size: 28px;
    line-height: 42px;
    color: var(--primary-title-color);
}

.contact__layout {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.contact__img {
    margin-left: 1.5rem;
    width: 50%;
}

.contact__form {
    padding: 2rem;
    width: 35rem;
    border-radius: 8px;
    background-color: white;
    box-shadow: var(--grey-shadow);
}

.contact__form-title {
    margin-bottom: 3rem;
    font-weight: 500;
    font-size: 18px;
}

.contact__input-container {
    display: flex;
    justify-content: space-between;
}

.contact__input-container .contact__form-input  {
    width: 48%;
}

.contact__form-input {
    width:100%
}
 
.contact__form-input label, input, textarea {
    display: block;
    width: 100%;
    border-radius: 5px;
}

.contact__form-input label {
    margin-bottom: 0.5rem;
    font-weight: 300;
}

.contact__form-input input {
    padding-left: 0.5rem;
    height: 2.5rem;
    border: 1px solid rgb(223, 223, 223);
}

.contact__form-input input:focus-visible {
    outline: 1px solid var(--primary-color);
}

.contact__form-input textarea {
    border: 1px solid rgb(223, 223, 223);
    padding: 0.5rem;
    resize: none;

}

.contact__form-input textarea:focus-visible {
    outline: 1px solid var(--primary-color);
}

.contact__form-input {
    margin-bottom: 2rem;
}

.contact__form-btn {
    width: 10rem;
    height: 2.75rem;
    border: 0;
    border-radius: 20px;
    color: white;
    background-color: var(--primary-color);
    box-shadow: var(--green-shadow);
    transition: 0.3s;
}

.contact__form-btn:hover {
    cursor: pointer;
    opacity: 0.7;
}


.footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 2rem;
    font-size: 12px;
    color: var(--primary-text-color);
}